.sidenav {
    height: 100%;
    width: 72px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 20px;
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)) */
    /* background-color: rgb(2,0,36);
    background-image: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(238,12,55,1) 0%, rgba(245,154,7,1) 100%, rgba(255,0,219,1) 100%); */
    /* background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(222,8,156,1) 0%, rgba(245,178,7,0.969625350140056) 100%, rgba(255,0,219,1) 100%); */
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(222,8,152,1) 0%, rgba(240,142,37,1) 100%, rgba(245,178,7,0.969625350140056) 100%, rgba(255,0,219,1) 100%);
  }
  .btn-pos{
    left: 30px;
    position: relative;
  }
  .btn-width{
    width: 106px;
  }
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

  }

  /* @media screen and (min-width: 500px) {
    .sidenav {padding-top: 15px; visibility: hidden;}
    .sidenav a {font-size: 18px;}

  } */
  /* @media screen and (max-width: 550px) {
    .sidenav {padding-top: 15px; }
    .sidenav a {font-size: 18px;}

  } */
  


  /* @media screen and (min-width: 600px){
    .sidenav {
      padding-top: 15px;
      visibility: hidden;
  }
  } */
  